PORT=3001
DB_USER=postgres
DB_PASSWORD=postgres
DB_NAME=scheduling_db
DB_URL=postgresql://postgres:postgres@db:5432/scheduling_db
# WHATSAPP_SESSION_PATH=./.wwebjs_auth

# Groq AI Configuration
GROQ_API_KEY=your_groq_api_key_here
GROQ_MODEL=llama-3.3-70b-versatile